.DS_Store
.config/nvim/.netrwhist
.config/nvim/plugged/
.config/kakoune/
.config/kakoune/plugins
!.config/kakoune/plugins/plug.kak
.config/pgcli/history
.config/pgcli/log
.config/pgcli/log
.config/vimb/history
.config/vimb/closed
.config/vimb/cookies.db
.config/vimb/command
.config/kitty/kitty-themes/
.config/ranger/__pycache__/*
